.editor-wrapper {
  max-width: 900px;
  margin: 30px auto;
}

.add-btn {
  margin-bottom: 20px;
  padding: 8px 14px;
  background: #2563eb;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.editor-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.codegroup-container {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #1f2937;
  margin-top: 20px;
}

.codegroup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111827;
  padding: 8px 12px;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tab {
  padding: 6px 12px;
  background: #1f2937;
  border-radius: 6px;
  cursor: pointer;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  gap: 6px;
}

.tab.active {
  background: #2563eb;
}

.remove-btn {
  font-weight: bold;
  cursor: pointer;
}

.add-select {
  background: #1f2937;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 6px;
}

.copy-btn {
  background: #1f2937;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
